#logout-btn{
    padding: 5px 20px;
    border: 1px solid rgb(133, 133, 136);
    border-radius: 20px;
    color: white;
    background-color: rgb(50, 52, 52);
}

#logout-btn:hover{
    cursor: pointer;
    background-color: rgb(203, 200, 200);
    border: 1px solid rgb(133, 133, 136);
    color: rgb(0, 0, 0);
}