.counter{
    text-align: center ;
    margin-top: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.counter span{
    margin: 20px 5px;
    font-size: 20px;
}

.counter button{
    width: 50px;
    background-color: goldenrod;
    color: black;
    border: none;
}

.counter button:hover{
    color: goldenrod;
    background-color: black;
    cursor: pointer;
}

.counter span input{
    text-align: center;
    width: 100px;
    color: white;
    border: 1px solid rgb(202, 199, 199);
}

.counter span input, .counter button{
    padding: 5px;
}

